<div class="news-article-title view-article-title">
	<h3><%= @article[:title] %></h3>
</div>
<div class="news-article-name">
	<div class="row">
		<div class="col-md-10 col-xs-10">
			<div class="media profile-details">
			  <a class="pull-left" href="#">
			    <%#= image_tag "profile_img.png"%>
			  </a>
			  <div class="media-body profle-title">
			  	<h4 class="media-heading"><%= @article[:source] %></h4>
			  	<% if @article[:author].present?%>
			       <h4 class="media-heading">Author Name: <span> <%= @article[:author] %> </span></h4>
			     <%end%>
			    <h4 class="media-heading">URL: <span><a href="<%= @article[:url] %>" target ="_blank"><%= @article[:url] %></a></span></h4>
			  </div>
			</div>
		</div>
		<div class="col-md-2 col-xs-2">
			<p class="article-date-time"><%= @article[:publish_at].present? ? @article[:publish_at].to_time.strftime("%I:%M:%p") : "-" %></p>
		</div>
	</div>
</div>
<div class="news-article-img">
	<% if @article[:image].present? %>
		<img src="<%= @article[:image] %>">
	<%else%>
		<%= image_tag "news_image.png"%>
	<%end%>
</div>
<div class="content-of-article">
	<h5><%= @article[:description] %></h5>
</div>